<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Learning Express</title>
    </head>
    <body>
<a href="/image">image needs an image</a>||
<a href="/gallery">gallery needs a gallery </a>|| 
<a href="/images">images needs single targets</a>||
<a href="/galleries">galleries need a group of groups</a>|| 
<br>
        {{{body}}}
    </body>
</html>