// Variables
$black: #111;
$radius: 4px;
$transition: all .25s ease-in-out;

html,
body {
 min-height: 100%;
 height: 100%;
}

html {
 font-size: 16px;
}

body {
  margin:0;
  padding:0;
  height:auto;
  width:100%;
 font-size: 1em;
}
.gallery-container {  
    z-index:50; 
    position:absolute;
    width:75%;
 padding-top: .9375rem;
 overflow:hidden;
 display:block;
}

.gallery-card {
 position: relative;
 overflow: hidden;
 margin-bottom: 1.875rem;
 height:200px;
 width:200px;
}

.gallery-thumbnail {
  overflow:hidden;
 max-width: 200px;
 max-height: 200px; 
 border-radius: $radius;
 overflow:hidden;
}

.card-icon-open {
 display: block;
 position: absolute;
 overflow:hidden;
 top: 50%;
 left: 50%;
 padding:5px;
 font-size: 2rem;
 color: #fff;
 cursor: pointer;
 opacity: 0; 
 transform: translate(-50%, -50%);
 transition: $transition;
 
 .center{
   margin-left:auto;
   margin-right:auto;
 }
 &:focus,
 &:hover { 
  color: $black;
 }
}

.gallery-thumbnail:focus ~ .card-icon-open,
.gallery-thumbnail:hover ~ .card-icon-open,
.gallery-thumbnail ~ .card-icon-open:focus,
.gallery-thumbnail ~ .card-icon-open:hover {
 opacity: 1;
 overflow:hidden;
} 
.modal-container {
    position: relative;
  }
  .modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
  }
.modal-content {
    display: block; 
    overflow:hidden;
    justify-content:center;
    top: 0;    
    background: rgba(21,21,21,.75);
    transform: translate(-50%, -50%);
   
} 
.modal-body {  
  position:absolute;
 padding: 0;  
 overflow:hidden;  
 border-radius: $radius; 
 transition: $transition;
 transform: translate(-50%, -50%);
 background-color:black;
} 
.modal-close { 
 top: 0;
 right: 8px;
 font-size: 1.5rem;
 color: $black;
 transform: translate(-50%, -50%);
 transition: $transition;
 
 &:focus,
 &:hover {
  color: #fff;
 }
}