// Variables
$black: #111;
$radius: 4px;
$transition: all 1.25s ease-in-out;

 

html {
 font-size: 16px;   
}  

body { 
 font-size: 100%; 
 overflow-x:hidden;  
}
.gallery-container {
  width:100%;
  overflow:hidden;
  height:auto;
  position:absolute; 
  display:block; 
  z-index:50; 
 padding-top: .9375rem;  
}
#crank{  
  overflow-x:hidden;
width:100%;
}
div.gallery-card {    
 margin-bottom: 1.875rem; 
 height:250px;  
 overflow:hidden;
 display:inline-block;
 border:1px thin solid red;
} 
span img.gallery-thumbnail {  
 border-radius: $radius;  
 width: 97% ; 
 height:auto; 
}
.responsive{
  width:98%;
}
span.card-icon-open {  
 top: 50%;
 left: 50%; 
 padding:0px;
 overflow:hidden;
 font-size: 2rem;
 color: #fff;
 cursor: pointer;
 opacity: 0; 
 transform: translate(-50%, -50%);
 transition: $transition;
 height:200px;
 display:inline-block;
 &:focus,
 &:hover { 
  color: $black;
  border:5px solid black;
 }
}

 .center{
   margin-left:auto;
   margin-right:auto;
 }
.gallery-thumbnail:focus ~ .card-icon-open,
.gallery-thumbnail:hover ~ .card-icon-open,
.gallery-thumbnail ~ .card-icon-open:focus,
.gallery-thumbnail ~ .card-icon-open:hover {
 opacity: 1;
 z-index:100;
} 
 div.modal-dialogue{
  // width: 40%;
 }
   
  .modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;

  }
.modal-content {
    display: block; 
    justify-content:center;
    top: 0;    
    background: rgba(21,21,21,.75);
    transform: translate(-50%, -50%);
   
}
div.modal-body {   
 z-index: 110; 
 padding: 0;   
 border-radius: $radius;
 transition: $transition;
 transform: translate(-50%, -50%);
 background-color:black;

}
 div.modal-footer{
   position:relative;
 }
.modal-close { 
 top: 0;
 right: 8px;
 font-size: 1.5rem;
 color: $black;
 transform: translate(-50%, -50%);
 transition: $transition;
 
 &:focus,
 &:hover {
  color: #fff;
 }
}