// Variables
$black: #111;
$radius: 4px;
$transition: all 1.25s ease-in-out;

 

html {
 font-size: 16px;   
}  

body { 
  background: cornsilk;

  background-image: url("./logo.png");
  background-repeat: no-repeat;
  background-position: center; 
 text-align:center;
}

.galleryContainer { 
  background-image:url('../components/images/portrait.jpg');
  background-size:100%;
  background-position:fixed;
  overflow:hidden;
  height:400px;
  position:absolute ; 
  display:block; 
  z-index:50; 
 padding-top: .9375rem;  
}

div.galleryHeader{
  background:none;
  height:400px;  
  display:block;
  padding:3em;
}

div#Gallery-Header{
  position:absolute;
  z-index:25;
  height:40em;
  background-image:url("./components/images/portrait.jpg");
}
 
#crank{  
  
  width:98%;
  height:auto;
  position:relative;
  display:block;
  z-index: inherit;
}

div.border-black{
  border:1px thin  black solid;
display:inline-block;
position:relative;
width:600px;
overflow:hidden;
max-height:800px;
}

div.gallery-card {    
 margin-bottom: 1.875rem; 

 max-height:250px;  
 overflow:hidden; 
 border:1px thin solid red; 
} 

span img.gallery-thumbnail {  
 border-radius: $radius;  
 width: 97% ;  
}
.center{
  margin-left:auto;
  margin-right:auto;
  text-align:center;  
}

.left{
  float:left;
  margin-left:0;
  text-align:left;
}
.responsive{
  width:98%;
}
span.card-icon-open {  
 top: 50%;
 left: 50%; 
 padding:0px;
 overflow:hidden;
 font-size: 2rem;
 color: #fff;
 cursor: pointer;
 opacity: 0; 
 transform: translate(-50%, -50%);
 transition: $transition;  
 &:focus,
 &:hover { 
  color: $black;
  border:5px solid black;
 }
}

div.gallery-thumbnail{
  padding:2em;
}

.gallery-thumbnail:focus ~ .card-icon-open,
.gallery-thumbnail:hover ~ .card-icon-open,
.gallery-thumbnail ~ .card-icon-open:focus,
.gallery-thumbnail ~ .card-icon-open:hover {
 opacity: 1;
 z-index:100;
}  
   
  .modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;

  }
  .modal-backdrop {
    height:100%;
    width:100%;
    opacity:5;
    position:absolute;
    z-index:inherit -5;
    background-color:black;
  }
.modal-content {
    display: block; 
    justify-content:center;
    top: 0;    
    background: rgba(21,21,21,.75);
    transform: translate(-50%, -50%);
   
}
div.modal-body {   
 z-index: 110; 
 padding: 0;   
 border-radius: $radius;
 transition: $transition;
 transform: translate(-50%, -50%);
 background-color:black;

}
 div.modal-footer{
   position:relative;
 }
.modal-close { 
 top: 0;
 right: 8px;
 font-size: 1.5rem;
 color: $black;
 transform: translate(-50%, -50%);
 transition: $transition;
 
 &:focus,
 &:hover {
  color: #fff;
 }
}